<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ss.css}">
    <title>Success Page</title>
</head>
<body>
<main>
    <div id="success-container">
        <div class="success-icon">
            <img th:src="@{/img/icon-success.svg}" alt="">
        </div>
        <div class="success-content">
            <h1>Rejected!</h1>
            <p>A Rejection email has been sent successfully to the requested user. Your Contribution is Highly Required to Make India Clean.<br><b>Cleaning India Is Our Duty.</b> <br>
                <b>MAKE INDIA CLEAN AND GREEN!</b> </p>
        </div>
        <button><a href="#" onclick="javascript:history.back()" style="text-decoration: none; color: aliceblue;"> Back </a></button>
    </div>
</main>
</body>
</html>