<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/cg-removebg logo.png}" type="image/png" />
    <title> How It Works</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/hiws.css}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            rel="shortcut icon"
            href="lg_wbg.jpeg"
            type="image/x-icon"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
            rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/f961e26959.js" crossorigin="anonymous"></script>

</head>
<body>


<div class= "trans" id="google_translate_element">
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>
        function googleTranslateElementInit(){
            new google.translate.TranslateElement(
                {pageLanguage: 'en' },
                'google_translate_element'
            );
        }
    </script>
</div>


<div class="sub-container">

    <section class="bg-blue-600 dark:bg-gray-900" style="width: 100%;">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl font-extrabold text-center text-gray-900 dark:text-white">How Does It Work?</h2>
            <p class="mb-8 lg:mb-16 font-light text-gray-500 dark:text-gray-300 sm:text-xl">
            <ol>
                <li><strong>Snap a Picture:</strong> Take a photo of the garbage in your area using your smartphone or camera. It could be litter on the streets, overflowing bins, or any other waste that needs attention.</li><br>
                <li><strong>Upload to Our Website:</strong> Visit our website and upload the picture of the garbage you've spotted. Don't worry, it's quick and easy!</li><br>
                <li><strong>Image Classification:</strong> Once uploaded, our advanced image classification technology goes to work. It analyzes the image to identify the type of waste, whether it's wet, dry, recyclable, or hazardous.</li><br>
                <li><strong>Acknowledgment and Action:</strong> You'll receive instant acknowledgment of your submission. Our team reviews the information provided and informs you whether your request for garbage disposal has been accepted. If accepted, we take action to ensure the waste is properly disposed of.</li><br>
                <li><strong>Informing Authorities:</strong> We notify the nearest BBMP (Bruhat Bengaluru Mahanagara Palike) office about the location of the garbage. They take necessary steps to dispose of it responsibly.</li><br>
                <li><strong>Earn Points:</strong> For every successful disposal request, you earn points! It's our way of recognizing your contribution to keeping your community clean and green.</li><br>
                <li><strong>Leaderboard:</strong> Check out our leaderboard to see where you stand among other community members. The more points you earn, the higher your position on the leaderboard.</li>
            </ol>


            <br><button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 via-lightblue-400 to-cyan-600 group-hover:from-cyan-500 group-hover:to-lightblue-300 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800" onclick="javascript:history.back()">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75  dark:bg-gray-900 rounded-md group-hover:bg-opacity-0" style="color: white; font-size: large ;font-weight: bold;align-items: center;">
                    Back
                    </span></button></br>
        </div>
    </section>
</body>

</html>