<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard CommunityGreen</title>

    <link rel="stylesheet" th:href="@{/css/lead.css}" />

    <link rel="shortcut icon" th:href="@{/img/cg-removebg logo.png}" type="image/png" />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;700&display=swap" rel="stylesheet" />

    <!-- Primary Meta Tags -->
    <title>Leaderboard CommunityGreen</title>
    <meta name="title" content="Leaderboard CommunityGreen">
    <meta name="description"
          content="This page is a ranking of the competition where the top 3 information product producers with the highest revenue at Kiwify are listed.">

    <!-- Open Graph / Facebook : This code is part of the Open Graph protocol, specifically designed for Facebook sharing and integration. The Open Graph meta tags provide information to social media platforms about how a page should be displayed when shared.
         When a user shares this page on Facebook, these Open Graph meta tags help ensure that the shared post includes the correct title, description, and image, providing a more engaging and informative preview of the content.
        -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Leaderboard CommunityGreen">
    <meta property="og:description"
          content="This page is a ranking of the competition where the top 3 information product producers with the highest revenue at Kiwify are listed.">
    <meta property="og:image"
          content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter: his code is part of the Twitter Card metadata, which is used to enhance the appearance of tweets containing links to the specified page. -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Leaderboard CommunityGreen">
    <meta property="twitter:description"
          content="This page is a ranking of the competition where the top 3 information product producers with the highest revenue at Kiwify are listed.">
    <meta property="twitter:image"
          content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <script defer th:src="@{/js/main.js}"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6351626182513576"
            crossorigin="anonymous"></script>
</head>

<body>


<div class="container">

    <header>
        <img th:src="@{/img/cg-removebg logo.png}" alt="Logo" class="st0 svg-elem-1">
        <h1>COMMUNITYGREEN</h1>
    </header>

    <main>
        <div class="podium">
            <ul>
                <li>
                    <span></span>




                    <img id="crown" th:src="@{/img/crown.svg}" alt="coroa" />

                    <img th:src="@{/img/1.jpeg}" alt="" srcset="" />

                    <p data-name-podium>-</p>

                    <span data-points-podium class="points">-</span>
                </li>

                <li data-aos="flip-right">
                    <span></span>

                    <img th:src="@{/img/2.jpeg}" alt="2° lugar" />

                    <p data-name-podium>-</p>

                    <span data-points-podium class="points">-</span>
                </li>

                <li data-aos="flip-right">
                    <span></span>

                    <img th:src="@{/img/3.jpeg}" alt="" srcset="" />

                    <p data-name-podium>-</p>

                    <span data-points-podium class="points">-</span>
                </li>
            </ul>
        </div>
    </main>

    <section>
        <span>Ranking Updates every one minute</span>
        <ul data-aos="fade-right">
            <li>
                <span></span>

                <img th:src="@{/img/1.jpeg}" alt="" srcset="" />

                <p data-name>-</p>

                <span data-points class="points">-</span>
            </li>

            <li>
                <span></span>

                <img th:src="@{/img/2.jpeg}" alt="" srcset="" />

                <p data-name>-</p>

                <span data-points class="points">-</span>
            </li>

            <li>
                <span></span>

                <img th:src="@{/img/3.jpeg}" alt="" srcset="" />

                <p data-name>-</p>

                <span data-points class="points">-</span>
            </li>

            <li>
                <span></span>

                <img th:src="@{/img/4.jpeg}" alt="" srcset="" />

                <p data-name>-</p>

                <span data-points class="points">-</span>
            </li>

            <li>
                <span></span>

                <img th:src="@{/img/5.jpeg}" alt="" srcset="" />

                <p data-name>-</p>

                <span data-points class="points">-</span>
            </li>
        </ul>
    </section>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init(
        {
            duration: 1000,
            once: true,
        });
</script>
</body>

</html>

